<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is home Page 1 + 2</h1>
    <h3>
        <%= 1 + 2 %>
        <%= ["hello", "bonjour", "namaste"][0] %>
    </h3>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam rem non iste? Nisi pariatur, vel nesciunt nam
        amet dolorum, nobis unde, quasi aperiam tempora quia tempore voluptatem similique autem doloremque!</p>
    <button>click me!</button>
</body>

</html>